[Unit]
After=syslog.target

[Service]
User=ubuntu
Type=idle
Environment=PATH=/home/ubuntu/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=python3 /home/ubuntu/amp_trigger/amp_trigger.py
#StandardOutput=syslog
#StandardError=syslog
SyslogIdentifier=amp_trigger

[Install]
WantedBy=multi-user.target
